<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ category }} / Sanchaya - Kannada language computing projects and resources</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Directory of {{ category }} projects by Sanchaya for Kannada language computing." />
	<meta name="referrer" content="no-referrer">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="image_src" href="https://sanchaya.page/static/thumb.png" />

	<meta property="og:title" content="{{ category }} / Sanchaya projects" />
	<meta property="og:description" content="Directory of {{ category }} by Sanchaya for Kannada language computing." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://sanchaya.page/{% if category == 'All Projects' %}index{% else %}{{ category | lower }}{% endif %}.html" />
	<meta property="og:image" content="https://sanchaya.page/static/thumb.png" />

	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:400&display=swap' rel='stylesheet' type='text/css' />
	<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<nav class="nav">
	<div class="wrap">
		<header class="header">
			<a href="#" id="burger"><span></span><span></span><span></span></a>
			<div class="logo">
				<a href="/"><img src="static/logo.svg" alt="Sanchaya page" /></a>
				<p class="slogan">A directory of Sanchaya's Kannada language computing projects and resources.</p>
			</div>
			<div class="intro">
				<p><input id="search" class="search" type="text" placeholder="Search this page" /></p>
			</div>
		</header>
	</div>
</nav>

<div class="wrap">
	<div class="container">
		<section class="sidebar" id="sidebar">
			<ul class="index">
        <li class="{% if category == 'All Projects' %}selected{% endif %}"><a href="index.html">All ({{ list | length }})</a></li>
        {% for c in categories %}
        <li class="{% if c == category %}selected{% endif %}"><a href="{{ c | lower }}.html">{{ c }} ({{ categories[c] }})</a></li>
        {% endfor %}
			</ul>
		</section>


		<section class="content">
			{% if ((list_tags | length) + (list_languages | length)) > 0 %}
				<a href="#" id="toggle-filters">Filter &rarr;</a>
			{% endif %}
			<section class="section" id="organisations">
				<h3>{{ category }} ({{ list | length }})</h3>

				<div class="filters" id="filters">
					{% if list_languages | length > 1 %}
						<div class="languages">
							{% for l in list_languages %}
								<label id="lang-{{ l }}">
									<input type="checkbox" class="filter-language" for="lang-{{ l }}" checked value="{{ l | lower }}" />{{ l }}
								</label>
							{% endfor %}

							<a href="#" class="toggle-filters" data-target="language" data-state="on">&larr; Toggle</a>
						</div>
					{% endif %}

					{% if list_tags | length > 1 %}
						<div class="tags">
							{% for l in list_tags %}
								<label id="tag-{{ l }}">
									<input type="checkbox" class="filter-tag" for="tag-{{ l }}" checked value="{{ l | lower }}" />{{ l }}
								</label>
							{% endfor %}

							<a href="#" class="toggle-filters" data-target="tag" data-state="on">&larr; Toggle</a>
						</div>
					{% endif %}
				</div>

				<ul id="items">
					{% for i in list %}
						<li class="item"
							data-languages="{% for v in i.languages %}{{ v | lower}}|{% endfor %}"
							data-tags="{% for v in i.tags %}{{ v | lower}}|{% endfor %}">
							<h2 class="title">
								{% for t in i.tags %}
									<span class="tag">{{ t }}</span>
								{% endfor %}
								<a href="{{ i.url }}" class="link">{{ i.name }}</a>
							</h2>

							<p class="description">{{ i.description }}</p>
							{% if i.is_cname %}
							<p class="url"><a href="{{ i.url }}">{{ i.url_pretty }}</a></p>
							{% else %}
							<p class="url github"><a href="{{ i.url }}"><svg class="github-icon" viewBox="0 0 16 16" fill="currentColor"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8"/></svg> {{ i.url_pretty }}</a></p>
							{% endif %}

							<div class="tags">
								{% for l in i.languages %}
									<span class="tag lang">{{ l }}</span>
								{% endfor %}

								<a href="" class="reveal">+{{ (i.languages | length) - 5 }} &larr; View all</a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</section>
		</section><!-- content -->
	</div><!-- container -->

	<footer>
		Edit this page at <a href="https://github.com/sanchaya/sanchaya.page">sanchaya/sanchaya.page</a>
		&mdash; Sanchaya &mdash; <a href="https://sanchaya.org">sanchaya.org</a>
	</footer>

	<script src="static/main.js"></script>
</div>
</body>
</html>
